@CHARSET "UTF-8";

    @import url('https://fonts.googleapis.com/css?family=Orbitron');
    httml, body {
        background-color: #222;
    }
    .canvasDiv {
        width: 640px;
        height: 480px;
        margin: 0 auto;
    }
    #gameCanvas {        
        padding: 10px;
        background-color: #111;
        display: none;
    }
    #gameCanvas:hover {
        cursor: none;
    }
    #mainmenudiv {
        background-color: #222;
        width: 220px;
        margin: 0px auto;
        margin-top: 50px;
    }
    #clearscores {
        width: 235px;
    }
    #highscoresexit, #helpback {
        width: 130px;
    }
    .mainMenuContainer {
        font-family: 'Orbitron', sans-serif;
        color: azure;
        background-color: #444;
        width: 500px;
        border-radius: 3px;
        margin: 0 auto;
        padding: 10px;
    }

    #helpdiv {
        display: none;
    }

    #highscorespart {
        display: none;
    }

    .hstable {
        display: block;
        border: 2px solid gray;
    }

    .thname {
        width: 250px;
        min-width: 100px;
    }

    .thscore {
        width: 250px;
        min-width: 120px;
    }

    .thdate {
        width: calc(100% - 66%);
        min-width: 120px;
    }

    th {
        border: 2px solid gray;
    }

    td {
        text-align: center;

        border: 1px solid gray;
        vertical-align: middle;
        padding: 5px;
    }
    .gameTitle {
        font-family: 'Orbitron', sans-serif;
        font-size: 48px;
        text-align: center;
        color: azure;
        text-shadow: -5px -5px 10px #ff6666, 5px 5px 15px #ff6666;
        margin: 20px;
        letter-spacing: 5px;
        animation-name: example;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none;
    }
    @keyframes example {
        0%   {text-shadow: -5px -5px 10px #ff6666, 5px 5px 15px #ff6666;}
        25%  {text-shadow: -5px -5px 10px #b3ff66, 5px 5px 15px #b3ff66;}
        50%  {text-shadow: -5px -5px 10px #66ffff, 5px 5px 15px #66ffff;}
        75%  {text-shadow: -5px -5px 10px #b366ff, 5px 5px 15px #b366ff;}
        100% {text-shadow: -5px -5px 10px #ff6666, 5px 5px 15px #ff6666;}        
    }
    .mybutton {
        font-family: 'Orbitron', sans-serif;
        width: 220px;
        padding: 14px 28px;
        color: #eec;
        border: none;
        cursor: pointer;
        margin: 10px;
        font-weight: 900;
        font-size: 18px;
        text-shadow: -1px -1px 0 #333;
        border-radius: 5px;
    }
    .mybutton:hover {        
        color: #ee9;
        transition: all 150ms linear;
        letter-spacing: 1px;
        font-weight: 900;
        text-shadow: -1px -1px 0 #222;
    }
    .nextLevelBtn {
        font-family: 'Orbitron', sans-serif;
        background-color: #444;
        padding: 10px;
        border: 3px solid #555;
        border-radius: 5px;
        font-size: 18px;
        color: azure;
        display: none;
    }
    .nextLevelBtn:hover {
        background-color: #333;
    }
    .restartBtn {
        font-family: 'Orbitron', sans-serif;
        background-color: #444;
        padding: 10px;
        border: 3px solid #555;
        border-radius: 5px;
        font-size: 18px;
        color: azure;
        display: none;
    }
    .restartBtn:hover {
        background-color: #333;
    }
    .success {background-color: #4CAF50;} /* Green */
    .success:hover {background-color: #46a049;}
    .info {background-color: #2196F3;} /* Blue */
    .info:hover {background: #0b7dda;}
    .warning {background-color: #ff9800;} /* Orange */
    .warning:hover {background: #e68a00;}
    .danger {background-color: #f44336;} /* Red */ 
    .danger:hover {background: #da190b;}
    .default {background-color: #e7e7e7; color: black;} /* Gray */ 
    .default:hover {background: #ddd;}
            