@CHARSET "UTF-8";

    httml, body {
        background-color: #222;
    }
    
    .canvasDiv {
        width: 640px;
        height: 480px;
        margin: 0 auto;
    }
    
    #gameCanvas {        
        padding: 10px;
        background-color: #111;
    }